		<div class="wrapper wrapper_padding cleafix">
			
			<div class="col-1 home_content">
				<h2>About</h2>
				<hr>
				<p>About this blog</p>
				<p>More about this blog</p>
			</div>

			<div class="col-2 home_content">
				<h2>Other things</h2>
				<hr>
				<p>About this blog</p>
				<p>More about this blog</p>
			</div>
			
			<div class="col-3 home_content">
				<h2>Some Final things</h2>
				<hr>
				<p>About this blog</p>
				<p>More about this blog</p>
			</div>	

		</div>
